body {
}
.box {
    height: 300px;
    color: white;
    text-align: center;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid #000;
}

