@{
    ViewBag.Title = "Home Page";
}

<main>
    <!--Banner-->
    <div class="Banner">
        <img src="/Content/images/banner.jpg" alt="Banner" class="img-fluid" /><!--phần này tự thêm ảnh vào-->
    </div>
    <div style="text-align:center">iPhone</div>

</main>